.grid-container{
    display: grid;
    font-size: 30px;



grid-template-areas:
'nav header header'
'nav article aside'
'nav footer aside'


}
.box1{
    grid-area: nav;
    background-color: aquamarine;
    height: 100vh;
    width: 20vw;

    

}.box2{
    grid-area:header;
    background-color: blueviolet;
    height: 20vh;
    width: 80vw;
    
    
}
.box3{
    grid-area: article;
    background-color: brown;
    height: 50vh;
    width: 65vw;

  
}
.box4{
    grid-area: footer;
    background-color: aqua;
    width: 65vw;
    height: 30vh;
    
    

}
.box5{
    grid-area: aside;
    background-color: burlywood;
    height: 80vh;
    width: 15vw;
   
}


.grid-item{
    border: 1px solid black;
}
